body {background-color:rgb(73, 94, 94)
}
h1 {
    color: black;
    text-align: center;
    font-size:medium
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 50px;
    background-color: rgb(12, 3, 54);

}
img {
    width: 120px;
    height: 50px;
    float:right;

}
nav {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;}